* {
  margin: 0;
  padding: 0;
  box-shadow: inherit; }

html {
  box-sizing: border-box;
  scroll-behavior: smooth;
  font-size: 62.5%; }

body {
  background-color: #f7f7f7;
  font-family: "Open sans", sans-serif; }

.about {
  padding: 12rem 0 8rem 0; }
  @media only screen and (max-width: 480px) {
    .about {
      padding-top: 8rem; } }
  .about__heading {
    font-size: 3.4rem;
    text-transform: uppercase;
    color: #e64980;
    font-weight: 400;
    text-align: center;
    position: relative; }
    @media only screen and (max-width: 780px) {
      .about__heading {
        font-size: 3.1rem; } }
    @media only screen and (max-width: 480px) {
      .about__heading {
        font-size: 2.8rem; } }
    .about__heading::after {
      content: "";
      display: block;
      position: absolute;
      top: 5rem;
      left: 45%;
      width: 12rem;
      height: 0.4rem;
      background-color: #e64980; }
      @media only screen and (max-width: 780px) {
        .about__heading::after {
          left: 42%;
          width: 8rem; } }
      @media only screen and (max-width: 480px) {
        .about__heading::after {
          left: 40%; } }
  .about__elements {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(30rem, 1fr));
    margin-top: 10rem; }
    @media only screen and (max-width: 480px) {
      .about__elements {
        margin: 2rem; } }
  .about__photo {
    width: 90%; }
  .about__secondary {
    font-size: 2.6rem;
    margin-bottom: 2rem; }
  .about__paragraph {
    font-size: 1.5rem;
    margin-bottom: 4rem; }

.contacts {
  padding: 12rem 0 8rem 0; }
  .contacts__heading {
    font-size: 3.4rem;
    text-transform: uppercase;
    color: #e64980;
    font-weight: 400;
    text-align: center;
    position: relative; }
    @media only screen and (max-width: 780px) {
      .contacts__heading {
        font-size: 3.2rem; } }
    @media only screen and (max-width: 480px) {
      .contacts__heading {
        font-size: 2.8rem; } }
    .contacts__heading::after {
      content: "";
      display: block;
      width: 10rem;
      height: 0.4rem;
      background-color: #e64980;
      position: absolute;
      top: 5rem;
      left: 45%; }
      @media only screen and (max-width: 780px) {
        .contacts__heading::after {
          left: 43%;
          width: 8rem; } }
      @media only screen and (max-width: 480px) {
        .contacts__heading::after {
          left: 40%; } }
  .contacts__container {
    display: grid;
    grid-template-columns: 40% 50%;
    gap: 4rem;
    margin-top: 6rem; }
    @media only screen and (max-width: 780px) {
      .contacts__container {
        display: block; } }

.newsletter__heading {
  text-transform: uppercase;
  font-weight: 500;
  color: #e64980;
  font-size: 2rem; }

.newsletter__big {
  font-size: 3.2rem;
  text-transform: uppercase;
  margin: 1.4rem 0; }
  @media only screen and (max-width: 780px) {
    .newsletter__big {
      font-size: 2.8rem; } }

.newsletter__location--text {
  font-size: 1.5rem; }
  .newsletter__location--text i {
    color: #e64980;
    margin-right: 0.4rem; }

.newsletter__hours {
  font-size: 1.5rem; }

.newsletter__link {
  color: #e64980;
  font-size: 1.4rem;
  transition: all 0.5s ease; }
  .newsletter__link:hover {
    text-decoration: none;
    color: #c2255c;
    transform: scale(1.11); }

.newsletter__nav {
  margin-top: 1.6rem; }

.contact {
  border-left: 1px solid #c2255c;
  padding-left: 2rem; }
  @media only screen and (max-width: 780px) {
    .contact {
      width: 100%; } }
  @media only screen and (max-width: 780px) {
    .contact {
      margin-top: 4rem; } }
  .contact__heading {
    font-size: 2.6rem;
    text-transform: capitalize;
    margin-bottom: 3rem; }
  .contact form label {
    font-size: 1.6rem;
    display: block; }
  .contact__input {
    border: none;
    background-color: #f7f7f7;
    border-bottom: 1px solid #ccc;
    width: 50%;
    padding: 0.6rem 1rem;
    font-size: 1.4rem; }
    .contact__input:focus {
      outline: none; }
    @media only screen and (max-width: 480px) {
      .contact__input {
        width: 100%; } }
  .contact__btn {
    border: none;
    background-color: #e64980;
    padding: 0.9rem 1.4rem;
    color: #fff;
    font-size: 1.4rem;
    border-radius: 100px;
    width: 50%;
    margin-top: 4rem;
    transition: all 0.5s ease; }
    .contact__btn:hover {
      transform: scale(1.11); }

.form-group {
  margin-top: 1.5rem; }

.footer {
  padding: 4rem 0; }
  .footer__paragraph {
    font-size: 1.6rem; }

.peace__form {
  background-color: #f4f4f4;
  padding: 2rem;
  border-radius: 0.4rem;
  position: absolute;
  top: 6rem;
  left: 30%;
  width: 30%;
  display: none; }

.peace__form label {
  display: block;
  font-size: 1.5rem; }

.peace__form input {
  width: 100%;
  padding: 0.4rem 1.2rem;
  font-size: 1.4rem; }
  .peace__form input:focus {
    outline: none; }

.peace__form button {
  border: none;
  color: #fff;
  background-color: #e64980;
  padding: 0.6rem 1.4rem;
  border-radius: 100px;
  font-size: 1.4rem;
  margin-top: 1.2rem; }

.peace__icon {
  font-size: 1.6rem;
  cursor: pointer;
  position: absolute;
  top: 1.2rem;
  right: 1.6rem; }

.header {
  background-image: linear-gradient(rgba(230, 73, 128, 0.8), rgba(214, 51, 108, 0.8)), url(../img/hero.png);
  background-position: center;
  background-size: cover;
  height: 100vh;
  padding: 2rem 0;
  position: relative; }
  @media only screen and (max-width: 480px) {
    .header {
      height: 80vh; } }

.navigation {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 0 9rem;
  position: relative; }
  @media only screen and (max-width: 480px) {
    .navigation {
      padding: 0 5rem; } }
  .navigation__photo {
    width: 10rem; }
    @media only screen and (max-width: 780px) {
      .navigation__photo {
        width: 8rem; } }
  .navigation__icon {
    color: #fff;
    font-size: 2rem;
    cursor: pointer;
    position: absolute;
    top: 3rem;
    right: 6rem;
    display: none; }
    @media only screen and (max-width: 780px) {
      .navigation__icon {
        display: block; } }
  .navigation__list {
    list-style: none;
    transition: all 1s ease; }
    @media only screen and (max-width: 780px) {
      .navigation__list {
        display: none; } }
  .navigation__item {
    font-size: 1.5rem;
    text-transform: uppercase; }
    .navigation__item:last-of-type {
      margin-right: 1rem; }
  .navigation__link {
    color: #fff;
    transition: all 0.5s ease; }
    .navigation__link:hover {
      transform: scale(1.1);
      color: #fff; }
  .navigation__btn {
    background-color: #e64980;
    border: none;
    font-size: 1.6rem;
    color: #fff;
    padding: 0.6rem 1.4rem;
    border-radius: 100px;
    transition: all 0.3s ease; }
    .navigation__btn:hover {
      background-color: #d6336c; }

.hero {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  margin-top: 13%; }
  @media only screen and (max-width: 670px) {
    .hero {
      margin-top: 17%; } }
  .hero__heading {
    margin-bottom: 2rem; }
    .hero__heading--main {
      font-size: 4.2rem;
      display: block;
      text-transform: uppercase;
      font-weight: 600;
      color: #fff;
      letter-spacing: 1.1rem;
      margin-bottom: 1rem; }
      @media only screen and (max-width: 780px) {
        .hero__heading--main {
          font-size: 4rem; } }
      @media only screen and (max-width: 480px) {
        .hero__heading--main {
          font-size: 2.6rem; } }
    .hero__heading--sub {
      font-size: 2.2rem;
      display: block;
      text-transform: uppercase;
      color: #fff;
      font-weight: 500;
      letter-spacing: 0.4rem; }
      @media only screen and (max-width: 780px) {
        .hero__heading--sub {
          font-size: 2rem; } }
      @media only screen and (max-width: 480px) {
        .hero__heading--sub {
          font-size: 1.6rem; } }
  .hero__btn {
    background-color: #e64980;
    color: #fff;
    text-decoration: none;
    font-size: 1.8rem;
    text-transform: capitalize;
    padding: 0.8rem 1.6rem;
    border-radius: 100px;
    transition: all 0.5s ease; }
    .hero__btn:hover {
      color: #fff;
      transform: scale(1.08);
      text-decoration: none; }

.side-nav {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100vh;
  background-color: #444;
  margin-top: -2rem;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column; }

.side-nav li {
  font-size: 2rem;
  margin-bottom: 1rem; }

.side-nav button {
  font-size: 2rem; }

.side-nav__icon {
  position: absolute;
  top: 2rem;
  right: 3rem;
  color: #fff;
  font-size: 2rem;
  cursor: pointer;
  display: none; }
  @media only screen and (max-width: 780px) {
    .side-nav__icon {
      display: block; } }

.services {
  padding: 12rem 0 8rem 0;
  background-image: linear-gradient(rgba(255, 255, 255, 0.7), rgba(255, 255, 255, 0.7)), url(../img/service.png);
  background-position: center;
  background-size: cover; }
  .services__heading {
    font-size: 3.4rem;
    font-weight: 500;
    letter-spacing: 0.2rem;
    text-align: center;
    color: #e64980;
    text-transform: uppercase;
    position: relative; }
    @media only screen and (max-width: 780px) {
      .services__heading {
        font-size: 3.2rem; } }
    @media only screen and (max-width: 480px) {
      .services__heading {
        font-size: 2.8rem; } }
    .services__heading::after {
      content: "";
      display: block;
      position: absolute;
      left: 46%;
      top: 5.4rem;
      width: 10rem;
      height: 0.4rem;
      background-color: #e64980; }
      @media only screen and (max-width: 780px) {
        .services__heading::after {
          left: 43%;
          width: 8rem; } }
      @media only screen and (max-width: 480px) {
        .services__heading::after {
          left: 40%; } }
  .services__container {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(24rem, 1fr));
    gap: 6rem; }

.card {
  margin-top: 5rem;
  background: #fff;
  border-radius: 5px;
  overflow: hidden; }
  .card__img {
    width: 100%; }
  .card__information {
    padding: 1rem; }
  .card__title {
    font-size: 2.2rem;
    font-weight: 400;
    text-transform: capitalize; }
  .card__paragraph {
    font-size: 1.6rem; }
  .card__price {
    font-size: 1.8rem;
    font-weight: 700;
    color: #c2255c; }
  .card__btn {
    background-color: #e64980;
    border: none;
    padding: 0.6rem 1.6rem;
    margin-bottom: 2rem;
    color: #fff;
    font-size: 1.5rem;
    border-radius: 100px;
    transition: all 0.5s ease; }
    .card__btn:hover {
      background-color: #d6336c;
      transform: scale(1.04); }

.btn-peace {
  background-color: #e64980;
  color: #fff;
  text-decoration: none;
  font-size: 1.8rem;
  text-transform: capitalize;
  padding: 0.8rem 1.6rem;
  border-radius: 100px;
  transition: all 0.5s ease; }
  .btn-peace:hover {
    color: #fff;
    transform: scale(1.08);
    text-decoration: none; }

.sticky {
  background-color: #c2255c;
  opacity: 0.8;
  position: fixed;
  top: 0;
  width: 100%;
  margin: 0;
  z-index: 10; }
