$primary-color: #e64980;
$secondary-color: #d6336c;
$tertiary-color: #c2255c;
$bg-color: #a61e4d;
$color-white: #fff;
$default-color: #f3f4f6;

$bp-nav: 770px;
$bp-lg: 1000px;
$bp-md: 900px;
$bp-sm: 800px;
$bp-xs: 650px;
$bp-mb: 470px;
