.services {
  position: relative;
  padding: 6rem 0 2rem 0;

  &__heading {
    text-transform: uppercase;
    text-align: center;
    font-size: 2.4rem;
    letter-spacing: 0.2rem;
    margin-bottom: 3rem;
    color: $tertiary-color;
  }
}

.card {
  background-color: rgba(#fff, 0.6);
  padding: 2rem;
  border-radius: 4px;
  cursor: default;
  transition: all 0.5s ease;

  &__title {
    font-size: 1.8rem;
    text-transform: uppercase;
    margin-bottom: 2rem;
    letter-spacing: 0.3rem;
  }

  &__paragraph {
    font-size: 1.6rem;
    line-height: 1.6;
    margin-bottom: 1rem;
  }

  &__price {
    font-size: 2rem;
    margin-bottom: 3rem;
  }

  &__btn {
    font-size: 1.6rem;
    color: #444;
    border: 2px solid $secondary-color;
    padding: 0.8rem 1.8rem;
    cursor: pointer;
    margin-bottom: 3rem;
    transition: all 0.4s ease;

    &:hover {
      background-color: $secondary-color;
      color: #fff;
    }
  }

  &:hover {
    transform: translateY(-1rem) scale(1.04);
  }
}
